form{
  width: 800px;
  margin: 350px auto 0 auto;
  text-align: center;
}

h1{
  width: 800px;
  font-size: 80px;
  text-align:left;
  margin: 0 auto;
  background-color: pink;
  padding: 0 20px;
}

button{
float: right;
}

input{
  width: 600px;
  height: 120px;
  margin: 30px 0;
  font-size: 80px;
  text-align: right;
}

button{
  width: 200px;
  height: 120px;
  font-size: 50px;
  margin-right: 100px;
  margin-top: 60px;
}

a{
  font-size: 80px;
}
