form{
  width: 1000px;
  margin: 150px auto 0 auto;
  text-align: center;
}

h1{
  width: 1000px;
  font-size: 50px;
  text-align:left;
  margin: 0 auto;
  background-color: pink;
}

button{
float: right;
}

input{
  width: 600px;
  height: 60px;
  margin: 30px 0;
  font-size: 40px;
}

button{
  width: 100px;
  height: 60px;
  margin-right: 200px;
}

a{
  font-size: 40px;
}
